.header {
  z-index: 2147483644;
  position: fixed;
  /* top: 0; */
  width: 1440px;
  height: 100px;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  /* box-shadow: 0 2px 8px ; */
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
}
.textlogo {
  margin: 30px 25px 35px 26px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #0a5379;
  font-weight: 600;
  position: relative;
}

.titik {
  color: #d91023;
  position: absolute;
}

.header .nav {
  /* position: absolute; */
  /* float:right; */
  /* margin: 30px 0px 30px 0; */
  max-width: 1345px;

  padding-right: 30px;
}
.header .nav a {
  text-decoration: none;
  font-size: 14px;
  color: #282828;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0px 51px 41px 0;
}

.header .nav a:hover,
/* .header .nav a:link, */
.header .nav a:visited,
.header .nav a:active {
  border-bottom: 2px solid #d91023;
  color: #0a5379;
}

/* .header .nav .active {
  border: 2px solid #d91023;
  color: #0a5379;
} */

.header .nav-text-vector {
  width: 120px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0px 34px 41px 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline;
}

.header li .button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #ed901a;
  border-radius: 6px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

/* .header .logo {
  z-index: 2147483645;
  left: 0;
  position: absolute;
  width: 140px;
  height: 140px;
  background-color: white;
  margin: 106px 0px 0px 36px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
} */

.header .logo .image {
  margin: 50px 20px;
}

.img-nav-vector-2 {
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 11px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-0%, 18%);
}

.img-nav-vector-1 {
  height: 4px;
  width: 8px;
  padding-left: 5px;
}

/* Nav Menu */

/* for Smartphone Keep Improving */
@media only screen and (max-width: 1305px) {
  .nav {
    display: none;
  }

  .header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-self: start;
  }
  /* .logo {
    margin: 0;
    width: 0;
    height: 0;
  } */
  .header .logo {
    margin: 50px 20px;
    z-index: 1;
  }
  .textlogo {
    /* width: 89px;
    height: 70px;
    position: absolute; */
    margin: 14px 0px;
  }
}

/* @media only screen and (min-width: 320px) and (max-width: 480px) {
  
} */
