.wrapper-header {
  width: 1440px;
  height: 100px;
  position: absolute;
  /* background-color: gray; */
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25); */
}

.wrapper-logo {
  margin-left: 36px;
  position: absolute;
  width: 140px;
  height: 140px;
  /* border: 1px solid black; */
  margin-top: 36px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.img-logo {
  margin: 35px 25px 35px 26px;
}
/* .text-logo {
  font-size: 56px;
  font-style: italic;
  font-weight: 600;
  color: #0a5379;
  margin: 35px 25px 35px 26px;
} */
.wrapper-nav-text {
  position: absolute;
  margin-left: 270px;
  margin-top: 41px;
}
.img-nav-vector-2 {
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 11px;
}

.img-nav-vector-1 {
  height: 4px;
  width: 8px;
  /* margin-left: 3px; */
}
.nav-text {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0px 50px 41px 0;
}
.nav-text:hover {
  font-weight: 600;
  border-bottom: 2px solid #ed901a;
  color: #0a5379;
}

.nav-text-vector {
  width: 120px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0px 34px 41px 0;
}

.btn-nav {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #ed901a;
  border-radius: 6px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
}
