.wrapper-header {
  width: 1440px;
  height: 100px;
  position: absolute;
  /* background-color: gray; */
  /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25); */
}

.wrapper-logo {
  margin-left: 36px;
  position: absolute;
  width: 140px;
  height: 140px;
  /* border: 1px solid black; */
  margin-top: 36px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.text-logo {
  margin: 30px 25px 35px 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #0a5379;
  font-weight: 600;
  position: relative;
}

.titik-logo {
  color: #ed901a;
  position: absolute;
}
/* .text-logo {
  font-size: 56px;
  font-style: italic;
  font-weight: 600;
  color: #0a5379;
  margin: 35px 25px 35px 26px;
} */
.wrapper-nav-text {
  position: absolute;
  margin-left: 270px;
  margin-top: 41px;
}
.img-nav-vector-2 {
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 11px;
}

.img-nav-vector-1 {
  height: 4px;
  width: 8px;
  /* margin-left: 3px; */
}
.nav-text {
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0px 50px 41px 0;
}
.nav-text:hover {
  font-weight: 600;
  border-bottom: 2px solid #ed901a;
  color: #0a5379;
}

.nav-text-vector {
  width: 120px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0px 34px 41px 0;
}

.btn-nav {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #ed901a;
  border-radius: 6px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

@media only screen and (max-width: 414px) {
  .wrapper-header {
    width: 414px;
    height: 98px;
    /* background-color: gray; */
    border-bottom: 1px solid #eee;
  }
  .wrapper-logo {
    margin-left: 0px;
    width: 0px;
    height: 0px;
    /* border: 1px solid black; */
    margin-top: 0px;
  }
  .text-logo {
    width: 89px;
    height: 70px;
    position: absolute;
    margin: 14px 0 14px 16px;
  }
  .burger-nav {
    position: absolute;
    left: 364px;
    right: 22px;
    top: 41px;
    bottom: 41px;
  }
  .wrapper-nav-burger {
    width: 270px;
    height: 896px;
    background-color: #ffffff;
    margin-left: 144px;
    top: 0px;
    z-index: 3;
  }
  .close-nav-burger {
    position: absolute;
    left: 10px;
    right: 22px;
    top: -25px;
    bottom: 0px;
    font-size: 25px;
    color: gray;
    font-family: "Source Sans Pro", sans-serif;
  }
  .container-text-burger {
    position: absolute;
    width: 270px;
    height: 98px;
    left: 144px;
    top: -0;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  }
  .img-nav-burger {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
  .text-language-burger {
    margin: 50px 0 31px 25px;
  }
  .container-text2-burger {
    /* position: absolute; */
    padding-top: 14px;
    margin-top: 90px;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.16);
  }

  .text3-burger-nav {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 16px;

    letter-spacing: 0.02em;
    margin: 16px 0 33px 24px;
  }
  .text2-burger-nav {
    margin: 0 0 33px 24px;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .text2-burger-nav .text3-burger-nav:hover {
    color: #ed901a;
  }
}
