.dropbtn {
  width: 150px;
  text-decoration: none;
  background-color: #fff;
  font-size: 14px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0px 34px 41px 0;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-bottom: 2px solid #d91023;
  color: #0a5379;
  background-color: white;
}
